body {
    font-family: 'Roboto', Courier, monospace;
    margin: 0;
  }


  ul {
    list-style-type: none;
    justify-content:space-between;
    display: flex;
    gap: 48px;
    
  }
  
.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px 300px 24px 300px;
  }

  .header_texts {
    display: flex;
    align-items: center;
    justify-content: space-around;
width: 100%;   
    
 }

.mini_header {
    margin-left: auto;
    flex:1;
    }

.logo_header {
    color: #f9faf8;
    font-size: 24px;
    width: 50%;
    font-weight: bold;
    
  }

  .sign_up {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap:400px;
    margin: 100px 0 100px 0;
      }

  .sign_up_text {
    display: flex;
    flex-direction: column;
    flex:1;
    
  }

  .awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
  }
.awesome_1 {
    color: #e5e7eb;
    font-size: 18px;
    flex:1 1 auto;
    
  }

  .sign_up_img {
    display: flex;
    align-self:center;
  }

  .sign_up_img > img {
    margin-bottom: 0;
    border:none;
    border-radius: 0%;
  }
a{
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
  }

.images_title {
    color: #1f2937;
    font-weight: 800;
    font-size: 36px;
    
  }

  .quote_container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    
   justify-content:center;
   padding:0 48px 0 48px;
  }

  .quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    margin-top: 100px;
    padding:0 344px 0 344px;
  
  }

  .author {
    color: #1f2937;
    font-weight: bold;
    margin-bottom: 100px;
    margin-right: 344px;
  }

  .CTA_container {
    background-color: #3882f6;
    margin:100px 200px;
    padding: 48px 144px 48px 144px;
    border-radius: 6px;
    display: flex;
    
    
  }


  .CTA_text{
    display: flex;
    align-items: center;
    flex:1;
  }
  .CTA_title{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
   
  }

  .CTA_subtext{
    color: #f9faf8;
    font-size: 18px;
    
  }

  .CTA_left{
    
   flex:1;
  }


  .author{
    font-weight: bold;
    font-size: 24px;
    margin-left: auto;
  }

  .footer {
    background-color: #1f2937;
    color:#e5e7eb;
    text-align: center;
    padding: 36px;
  }

  img {
    height: 200px;
    width: auto;
    border-radius: 25px;
    border: 6px solid #3882f6;
    margin-bottom: 24px;
  }
  button {
    border-color: #f9faf8;
    border-radius: 8px;
    background: #3882f6;
    font-size: 16px;
    color: #f9faf8;
    width: 100px;
    height: 40px;
    font-family: 'Roboto', Courier, monospace;;
    font-weight: bold;
  }

  .first_button {
    border: none;
    background: #3882f6;
    font-size: 16px;
    color: #f9faf8;
    width: 100px;
    height: 40px;
  }

  .images_title {
    display: flex;
    align-items: center;
  justify-content: center;
  margin: 32px ;
  }

  .content_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:0 344px 0 344px;
     }

  .first_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 16px 16px 16px;
    
  }
